<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 数据库配置信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///db_user</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<!-- Hibernate 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 是否显示 sql -->
		<property name="hibernate.show_sql">true</property>
		<!-- 是否格式化 sql -->
		<property name="hibernate.format_sql">true</property>
		
		<!-- 实体类映射 -->
		<mapping class="online.shixun.hpeu.model.GoodsModel"/>
		<mapping class="online.shixun.hpeu.model.GoodsCategoryModel"/>
	</session-factory>
</hibernate-configuration>