<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5" >

<!-- 默认情况下会在WEB-INF目录 下查找applicationContext.xml，如果不是就需要配置
    contextConfigLocation它是在listener中声明的一个常量，描述的就是spring配置文件的位置
    Classpath:applicationContext.xml 表示在当前工程的类路径下查找applicationContext.xml文件 -->
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
</context-param>

<!-- 这个 ContextLoaderListener 实现了 ServletContextListene，会在服务器启动的时候执行 -->
<listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

</web-app>